@keyframes appear {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes appear-later {
  to {
    visibility: visible;
  }
}

@keyframes speed-lines-1 {
  to {
    left: -300px;
  }
}

@keyframes speed-lines-2 {
  to {
    left: -250px;
  }
}

@keyframes up-down-icon-shipping {
  to {
    top: 42%;
  }
}

@keyframes zoom {
  0% {
    width: 60px;
  }
  25% {
    width: 40px;
  }
  50% {
    width: 40px;
  }
  75% {
    width: 60px;
  }
}
