/*
 * lay-out
 */

.body.open-menu {
  @media only screen and (max-width: 900px) {
    overflow: hidden;
  }
}

.wrapper {
  padding: 50px 140px 45px;
}

.header__wrapper {
  width: 100%;
  position: relative;
  @media only screen and (max-width: 1100px) {
    padding: 50px 5% 45px;
  }
  @media only screen and (max-width: 900px) {
    padding: 0;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  transform: translateY(0);
  transition: all 400ms ease-in-out;
  will-change: transform;
  &__nav {
    float: right;
  }
  .nav__toggle {
    position: fixed;
    right: 30px;
    top: 42px;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 11;
    @media only screen and (max-width: 900px) {
      display: block;
    }
    .top, .middle, .bottom {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 4px;
      margin: -2px 0 0;
      background: #000;
      transform-origin: 50%;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .top {
      transform: translate(0, -10px);
    }
    .bottom {
      transform: translate(0, 10px);
    }
  }
}

.contact-page .header .nav__toggle, .linkit-page .header .nav__toggle {
  .top, .middle, .bottom {
    background: #fff;
  }
}

.open-menu .header {
  @media only screen and (max-width: 900px) {
    height: 100%;
  }
}

.open-menu .header .nav__toggle .top {
  transform: rotate(-45deg);
}

.open-menu .header .nav__toggle .middle {
  opacity: 0;
}

.open-menu .header .nav__toggle .bottom {
  transform: rotate(45deg);
}

.open-menu .header .nav__toggle .bottom, .open-menu .header .nav__toggle .top {
  background: #fff;
}

.nav {
  .list > .list__item:not(:first-child) {
    margin-left: 40px;
    @media only screen and (max-width: 900px) {
      margin-left: 0;
    }
  }
}


.header__nav {
  @media only screen and (max-width: 900px) {
    float: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    box-sizing: border-box;
  }
}

.open-menu .header .header__nav {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.list--horizontal {
  .list__item {
    display: inline;
  }
}

.open-menu .header .list--center-on-mobile {
  @media only screen and (max-width: 900px) {
    @include translateY();
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    .list__item {
      margin: 0;
      padding: 20px 0;
      border: none;
      font-size: 20px;
      line-height: 30px;
      display: block;
      font-size: 27px;
      line-height: 54px;
      color: #fff;
    }
  }
}

.slider {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.twothird-container {
  float: right;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row > .col:not(:last-child) {
  margin-right: 100px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin-bottom: 60px;
}

.presentation {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  margin: 0 0 100px;
  overflow: hidden;
  z-index: 3;
  min-height: 800px;
}

/*
 * components
 */
.logo {
  display: inline-block;
  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 50px 5% 45px;
    background: #fff;
  }
}


.linkit-page .logo {
  @media only screen and (max-width: 900px) {
    background: #000;
  }
}


.index-page .logo {
  @media only screen and (max-width: 900px) {
    background: $teal;
  }
}

// homepage

$background2: #fff;

%circle {
  border-radius: 100%;
}

%centering {
  position: absolute;
  top: 50%; left: 50%;
}

$diameter: 14em;

.icon__experience {
  @include translateXY();
  top: 40%;
  &__body {
    background: #000;
    height: 400px;
    width: 90px;
    position: relative;
    &__button {
      @include translateX();
      border-radius: 50%;
      background: #fff;
      &:not(:last-child):after {
        content: '';
        @include translateXY();
        border-radius: 50%;
        background: #000;
        height: 20px;
        width: 20px;
      }
    }
    &__button--big {
      top: 4%;
      height: 70px;
      width: 70px;
    }
    &__button--medium {
      top: 35%;
      height: 60px;
      width: 60px;
    }
    &__button--small {
      bottom: 5%;
      left: 40%;
      height: 40px;
      width: 40px;
    }
  }
  &__lens {
    height: 400px;
    width: 300px;
    position: relative;
    align-items: center;
    &__part {
      background: #000;
      height: 250px;
      width: 60px;
      animation: zoom 4s infinite ease-in-out;
      animation-delay: 1s;
      &__front, &__cap {
        animation: none;
      }
      &__front {
        height: 250px;
        width: 40px;
      }
      &__cap {
        height: 100px;
        width: 20px;
      }
    }
    &__part--2 {
      height: 220px;
    }
    &__part--3 {
      height: 190px;
    }
    &__part--4 {
      height: 160px;
    }
    &:before {
      content: '';
      @include translateY();
      margin-top: 145px;
      background: #000;
      height: 40px;
      width: 300px;
      left: 0;
    }
    &:after {
      content: '';
      @include translateXY();
      margin-top: 125px;
      border-radius: 50%;
      background: #fff;
      height: 30px;
      width: 30px;
    }
  }
}

.icon__online {
  @include translateXY();
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  &:before {
    content: '';
    @include translateX();
    top: -90px;
    width: 300px;
    height: 200px;
    border: solid 50px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/150px 150px 0 0;
    animation: appear 2s steps(2, end) infinite;
    visibility: hidden;
  }
  &:after {
    content: '';
    @include translateX();
    top: -180px;
    width: 479px;
    height: 279px;
    border: solid 50px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/255px 255px 0 0;
    animation: appear-later 2s steps(2, end) infinite;
    visibility: hidden;
  }
}

.icon__shipping {
  @include translateXY();
  top: 40%;
  left: 54%;
  height: 200px;
  width: 300px;
  border: 30px solid #000;
  background: #fff;
  &:before, &:after {
    content: '';
    display: inline-block;
    top: 30px;
    height: 30px;
    width: 168px;
    background: #000;
    position: absolute;
  }
  &:before {
    left: -24px;
    transform: rotate(35deg);
  }
  &:after {
    right: -24px;
    transform: rotate(-35deg);
  }
  &__speed-lines {
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -200px;
      height: 175px;
      width: 100px;
      border-bottom: 30px solid #000;
      border-top: 30px solid #000;
    }
    &:before {
      left: -250px;
      top: -67px;
      animation: speed-lines-1 2s steps(2, end) infinite;;
    }
    &:after {
      bottom: -70px;
      animation: speed-lines-2 2s steps(2, end) infinite;;
      animation-delay: 0.5s;
    }
  }
}

.icon__professional {
  @include translateXY();
  top: 24%;
  &__medium, &__large {
    @include translateX();
      &__top {
      height: 50px;
      width: 50px;
      background: #000;
      &:before, &:after {
        content: '';
        position: absolute;
        display: inline-block;
      }
      &:before {
        left: -50px;
        border-top: 50px solid #000;
        border-left: 50px solid transparent;
      }
      &:after {
        right: -50px;
        border-top: 50px solid #000;
        border-right: 50px solid transparent;
      }
    }
    &__mid {
      height: 200px;
      width: 50px;
      margin-top: 10px;
      background: #000;
      &:before, &:after {
        content: '';
        position: absolute;
        display: inline-block;
      }
      &:before {
        left: -30px;
        border-bottom: 200px solid #000;
        border-left: 30px solid transparent;
      }
      &:after {
        right: -30px;
        border-bottom: 200px solid #000;
        border-right: 30px solid transparent;
      }
    }
    &__bot {
      @include translateX();
      height: 0;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      border-width: 50px 55px 0 55px;
    }
  }
  &__medium {
    left: -160px;
    animation: appear 4s steps(2, end) infinite;
    visibility: hidden;
    &__top {
      height: 40px;
      width: 40px;
      &:before {
        left: -40px;
        border-top: 40px solid #000;
        border-left: 40px solid transparent;
      }
      &:after {
        right: -40px;
        border-top: 40px solid #000;
        border-right: 40px solid transparent;
      }
    }
    &__mid {
      height: 160px;
      width: 40px;
      margin-top: 8px;
      &:before {
        left: -24px;
        border-bottom: 160px solid #000;
        border-left: 24px solid transparent;
      }
      &:after {
        right: -24px;
        border-bottom: 160px solid #000;
        border-right: 24px solid transparent;
      }
    }
    &__bot {
      border-width: 40px 44px 0 44px;
    }
  }
  &__medium--right {
    left: 160px;
    animation: appear-later 4s steps(2, end) infinite;
    visibility: hidden;
  }
}

.about {
  background: #000;
}

.about__article {
  flex: 1;
}

.about__article{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__article > .about__article__body:not(:last-child) {
  margin-bottom: 17px;
}

.about__article__body {
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  max-width: 960px;
}

.about__article__body--weighted {
  font-weight: 800;
  font-size: 45px;
}

.about__title {
  width: 200px;
  font-size: 120px;
  color: #fff;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin: auto 0;
}

// linkit
.presentation.linkit {
  background: #000;
  color: #fff;
  .presentation__title {
    color: #fff;
  }
}

.gallery {
  padding-bottom: 100px;
}

.gallery__item {
  background: #000;
  flex: 1;
  height: auto;
  color: #fff;
  position: relative;
}

.gallery__item__img {
  height: 100%;
  width: 100%;
}

.gallery__item__img-1 {
  background: url("../img/linkit__gallery-item-1.jpg") no-repeat;
  @include image_2x("../img/linkit__gallery-item-1@2x.jpg", auto, 100%);
  background-position: center;
  background-size: contain;
}

.gallery__item__img-2 {
  background: url("../img/linkit__gallery-item-2.jpg") no-repeat;
  @include image_2x("../img/linkit__gallery-item-2@2x.jpg", auto, 100%);
  background-position: center;
  background-size: contain;
}

.gallery__item__img-3 {
  background: url("../img/linkit__gallery-item-3.jpg") no-repeat;
  @include image_2x("../img/linkit__gallery-item-3@2x.jpg", auto, 100%);
  background-position: center;
  background-size: contain;
}

.gallery__item__img-4 {
  background: url("../img/linkit__gallery-item-4.jpg") no-repeat;
  @include image_2x("../img/linkit__gallery-item-4@2x.jpg", auto, 100%);
  background-position: center;
  background-size: contain;
}

.gallery__item:before {
  content:'';
  float:left;
  padding-top: 100%;
}

// presentation
.presentation {
  background: #fff;
}

.presentation__background, .presentation__background {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -800px;
  z-index: 1;
}

.presentation__background__img, .presentation__background__img {
  width: 100%;
}

.presentation .wrapper {
  position: relative;
  z-index: 2;
}

.presentation-page__title {
  padding-top: 400px;
  font-size: 110px;
}

.presentation-page__sub-title {
  color: darken($teal, 10%);
  font-size: 45px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 80px;
  white-space: nowrap;
  line-height: 1.3em;
}

.feature {
  &__title {
    font-size: 25px;
  }
  &__body {
    font-size: 17px;
  }
}

// contact

.contact-page {
  background: $teal;
}

.contact {
  padding-top: 400px;
}

.contact__column {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact__title {
  font-weight: 800;
  font-size: 70px;
}

.contact__title, .contact__mail {
  padding-left: 40px;
}

.contact__address {
  text-align: right;
  font-weight: normal;
}

.contact__vertegenwoordiger {
  background: #000;
  flex: 1;
  height: auto;
  color: #fff;
  &__portrait {
    width: 100%;
    height: 50%;
    background: url("../img/portrait__brett-van-craenenbroeck.jpg") no-repeat;
    @include image_2x("../img/portrait__brett-van-craenenbroeck@2x.jpg", 100%, 100%);
    background-size: cover;
  }
  &__info {
    width: 100%;
    padding: 20px 20px 20px 30px;
    flex-grow: 1;
    &__main {
      &__title {
        font-size: 50px;
        font-weight: 800;
        text-align: right;
      }
      &__subtitle {
        font-size: 20px;
        font-weight: normal;
      }
    }
    &__last-name {
      writing-mode: tb-rl;
      font-size: 30px;
      margin: 0;
      width: 45px;
      flex: 1;
    }
  }
  /*&:hover {
    filter: invert(1);
  }*/
}

.contact__vertegenwoordiger__portrait--hans {
  background: url("../img/portrait__hans-poffe.jpg") no-repeat;
  @include image_2x("../img/portrait__hans-poffe@2x.jpg", 100%, 100%);
  background-size: cover;
}

.contact__vertegenwoordiger__portrait--marcel {
  background: url("../img/portrait__marcel-janssens.jpg") no-repeat;
  @include image_2x("../img/portrait__marcel-janssens@2x.jpg", 100%, 100%);
  background-size: cover;
}

.contact__vertegenwoordiger__portrait--brett {
  background: url("../img/portrait__brett-van-craenenbroeck.jpg") no-repeat;
  @include image_2x("../img/portrait__brett-van-craenenbroeck@2x.jpg", 100%, 100%);
  background-size: cover;
}

.contact__vertegenwoordiger__portrait--matthias {
  background: url("../img/portrait__matthias-claes.jpg") no-repeat;
  @include image_2x("../img/portrait__matthias-claes@2x.jpg", 100%, 100%);
  background-size: cover;
}

.contact__vertegenwoordiger:before {
  content:'';
  float:left;
  padding-top: 200%;
}

.contact__vertegenwoordiger:nth-child(even) {
  background: #fff;
  color: #000;
  /*.contact__vertegenwoordiger__portrait {
    filter: invert(1);
  }*/
}

/*
 * styling
 */

.index-page, .index-page .header {
  background: $teal;
}

.presentation-page, .presentation-page .header {
  background: #fff;
}

.linkit-page, .linkit-page .header {
  background: #000;
}

.contact-page .header {
  background: #000;
}

.presentation-page .header, .index-page .header {
  @media only screen and (max-width: 900px) {
    background: none;
  }
}

.logo, .nav {
  color: #000;
  font-size: 20px;
}

.linkit-page {
  .logo, .nav {
    color: #fff;
  }
}

.contact-page .logo, .contact-page .nav {
  color: #fff;
  @media only screen and (max-width: 900px) {
    background: rgba(0, 0, 0, 0.9);
  }
}

.nav {
  text-transform: uppercase;
  .list {
    .list__item {
      &__anchor {
        margin-top: -17px;
        padding-bottom: 15px;
        border-bottom: 2px transparent solid;
        &:hover {
          border-bottom: 2px #000 solid;
        }
        &.is-active {
          border-bottom: 2px #000 solid;
        }
        @media only screen and (max-width: 900px) {
          padding-bottom: 4px;
          &:hover {
            border-bottom: 2px #fff solid;
          }
          &.is-active {
            border-bottom: 2px #fff solid;
          }
        }
      }
    }
  }
}

.contact-page .nav .list .list__item__anchor {
  &:hover {
    border-bottom: 2px #fff solid;
  }
}

.contact-page .nav .list .list__item__anchor.is-active {
  border-bottom: 2px #fff solid;
}

.linkit-page .nav .list .list__item__anchor {
  &:hover {
    border-bottom: 2px #fff solid;
  }
}

.linkit-page .nav .list .list__item__anchor.is-active {
  border-bottom: 2px #fff solid;
}

.button {
  border: 2px #000 solid;
  padding: 15px;
  &:hover {
    background: #000;
    color: $teal;
  }
  @media only screen and (max-width: 900px) {
    border: 2px #fff solid;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.presentation-page .button {
  &:hover {
    color: #fff;
  }
  @media only screen and (max-width: 900px) {
    &:hover {
      color: #000;
    }
  }
}

.contact-page .button {
  border: 2px #fff solid;
  &:hover {
    background: #fff;
    color: #000;
  }
  @media only screen and (max-width: 900px) {
    &:hover {
      color: #000;
    }
  }
}

.linkit-page .button {
  border: 2px #fff solid;
  &:hover {
    background: #fff;
    color: #000;
  }
  @media only screen and (max-width: 900px) {
    &:hover {
      color: #000;
    }
  }
}

/*
 flexslider
 */

 .slider__title {
   position: absolute;
   bottom: 100px;
   padding-left: 40px;
 }

 /* ====================================================================================================================
  * RESETS
  * ====================================================================================================================*/
 .flex-container a:hover,
 .flex-slider a:hover {
   outline: none;
 }
 .slides,
 .slides > li,
 .flex-control-nav,
 .flex-direction-nav {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .flex-pauseplay span {
   text-transform: capitalize;
 }
 /* ====================================================================================================================
  * BASE STYLES
  * ====================================================================================================================*/
 .flexslider {
   margin: 0;
   padding: 0;
 }
 .flexslider .slides {
    zoom: 1;
    height: 100%

}
 .flexslider .slides > li {
   display: none;
   -webkit-backface-visibility: hidden;
   position: relative;
 }
 .flexslider .slides:after {
   content: "\0020";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
 }
 html[xmlns] .flexslider .slides {
   display: block;
 }
 * html .flexslider .slides {
   height: 1%;
 }
 .no-js .flexslider .slides > li:first-child {
   display: block;
 }
 /* ====================================================================================================================
  * DEFAULT THEME
  * ====================================================================================================================*/
 .flexslider {
   position: relative;
   zoom: 1;
   position: relative;
   height: 100%;
   top: 0;
   left: 0;
   width: 100%;
 }
 .flexslider .slides {
   zoom: 1;
 }
 .flexslider .slides>li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  height: 100%;
  max-height: 100%!important;
  overflow: hidden;
}
 .flex-viewport {
   max-height: 2000px;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }
 .loading .flex-viewport {
   max-height: 300px;
 }
 @-moz-document url-prefix() {
   .loading .flex-viewport {
     max-height: none;
   }
 }
 .carousel li {
   margin-right: 5px;
 }
 .flex-direction-nav {
   *height: 0;
 }
 .flex-direction-nav a {
   text-decoration: none;
   display: block;
   width: 40px;
   height: 40px;
   margin: -20px 0 0;
   position: absolute;
   top: 50%;
   z-index: 10;
   overflow: hidden;
   opacity: 0;
   cursor: pointer;
   color: rgba(0, 0, 0, 0.8);
   text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .flex-direction-nav a:before {
   font-family: "flexslider-icon";
   font-size: 40px;
   display: inline-block;
   content: '\f001';
   color: rgba(0, 0, 0, 0.8);
   text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
 }
 .flex-direction-nav a.flex-next:before {
   content: '\f002';
 }
 .flex-direction-nav .flex-prev {
   left: -50px;
 }
 .flex-direction-nav .flex-next {
   right: -50px;
   text-align: right;
 }
 .flexslider:hover .flex-direction-nav .flex-prev {
   opacity: 0.7;
   left: 10px;
 }
 .flexslider:hover .flex-direction-nav .flex-prev:hover {
   opacity: 1;
 }
 .flexslider:hover .flex-direction-nav .flex-next {
   opacity: 0.7;
   right: 10px;
 }
 .flexslider:hover .flex-direction-nav .flex-next:hover {
   opacity: 1;
 }
 .flex-direction-nav .flex-disabled {
   opacity: 0!important;
   filter: alpha(opacity=0);
   cursor: default;
   z-index: -1;
 }
 .flex-pauseplay a {
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   bottom: 5px;
   left: 10px;
   opacity: 0.8;
   z-index: 10;
   overflow: hidden;
   cursor: pointer;
   color: #000;
 }
 .flex-pauseplay a:before {
   font-family: "flexslider-icon";
   font-size: 20px;
   display: inline-block;
   content: '\f004';
 }
 .flex-pauseplay a:hover {
   opacity: 1;
 }
 .flex-pauseplay a.flex-play:before {
   content: '\f003';
 }
 .flex-control-nav {
   width: 100%;
   position: absolute;
   bottom: 40px;
   text-align: center;
   z-index: 4;
 }
 .flex-control-nav li {
   margin: 0 6px;
   display: inline-block;
   zoom: 1;
   *display: inline;
 }
 .flex-control-paging li a {
   width: 24px;
    height: 24px;
    display: block;
    background: transparent;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    border: 4px solid;
 }
 .flex-control-paging li a:hover {
   background: #000;
 }
 .flex-control-paging li a.flex-active {
   background: #000;
   cursor: default;
 }
 .flex-control-thumbs {
   margin: 5px 0 0;
   position: static;
   overflow: hidden;
 }
 .flex-control-thumbs li {
   width: 25%;
   float: left;
   margin: 0;
 }
 .flex-control-thumbs img {
   width: 100%;
   height: auto;
   display: block;
   opacity: .7;
   cursor: pointer;
   -moz-user-select: none;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }
 .flex-control-thumbs img:hover {
   opacity: 1;
 }
 .flex-control-thumbs .flex-active {
   opacity: 1;
   cursor: default;
 }
 /* ====================================================================================================================
  * RESPONSIVE
  * ====================================================================================================================*/
 @media screen and (max-width: 860px) {
   .flex-direction-nav .flex-prev {
     opacity: 1;
     left: 10px;
   }
   .flex-direction-nav .flex-next {
     opacity: 1;
     right: 10px;
   }
 }
